body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  width: 100%;
  height: 100%;
}

.mainview{
  display: flex;
}
.navBar{
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px 10px 10px 10px;
  margin-right: 1%;
}
